@import url(../cssVars.css);

footer{
    background-color: var(--footer-bg);
    position: relative;
    bottom: 0;

    & section{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      background-color: black;
      color: white;
      padding: 1rem;
      
    };
    & section div{
      width: 33%;
      display:flex;
      flex-direction: column;

    };
    & a{
      color: white;
      text-decoration: none;
      font-size: calc(1rem + 0.5rem);
    
    }
}
  
#copyrightText{
  padding: 1rem;
  margin: 0px auto;
  text-align: center;
  font-weight: 500;

}